<% include ../include/header %>
<link href='/schedule_packages/core/main.css' rel='stylesheet' />
<link href='/schedule_packages/daygrid/main.css' rel='stylesheet' />
<link href='/schedule_packages/timegrid/main.css' rel='stylesheet' />
<link href='/schedule_packages/list/main.css' rel='stylesheet' />
<script src='/schedule_packages/core/main.js'></script>
<script src='/schedule_packages/interaction/main.js'></script>
<script src='/schedule_packages/daygrid/main.js'></script>
<script src='/schedule_packages/timegrid/main.js'></script>
<script src='/schedule_packages/list/main.js'></script>

<section >
    <div class="secondSectionHeader">
        <h1 id="info_Header" class="text-center">UIT - LAB</h1>
        <h5 id="info_smallHeader" class="text-center">일정표</h5>
    </div>
    <div style="text-align: center;">
        <div id='calendar' style="width:70%;text-align:center;display:inline-block; margin-bottom:5rem"></div>
    </div>
    
</section>

<script>
  var schedule_values = [];
    <%for (key in schedule_val) {%>
         schedule_values.push({
            title: '<%=schedule_val[key].title%>',
            start: '<%=moment(schedule_val[key].start_date).format("YYYY-MM-DD hh:mm:ss")%>',
            end: '<%=moment(schedule_val[key].end_date).format("YYYY-MM-DD hh:mm:ss")%>',
            constraint: 'availableForMeeting', color: '#257e4a'
          });
    <%}%>
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: [ 'interaction', 'dayGrid', 'timeGrid', 'list' ],
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
        },
        //defaultDate: '2020-09-09',
        navLinks: true, // can click day/week names to navigate views
        businessHours: true, // display business hours
        editable: true,
        events: schedule_values
      });
      calendar.render();
    });
  
  </script>

<% include ../include/footer %>