<%- include('include/header') %>
<section>
    <div class="secondSectionHeader">
        <h1 id="info_Header" class="text-center">UIT - LAB</h1>
        <h5 id="info_smallHeader" class="text-center">너무 자유로운 연구실</h5>
    </div>
    <div id="info_content" class="row m-4">
        <div id="cards" class="col">
            <div class="row row-cols-1 row-cols-md-2">
                <div class="col mb-4">
                  <div class="card">
                    <img src="images/1.jpg" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">제주도 여행 4일차</h5>
                      <p class="card-text">저기는 눈이 녹지 않는다고 하네요</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">UIT 제주도 여행 (`20.01.16 ~ `20.01.19)</small>
                      </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card">
                    <img src="images/2.jpg" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">제주도 여행 3일차</h5>
                      <p class="card-text">제 배경화면은 아직도 저 배경이네요</p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">UIT 제주도 여행 (`20.01.16 ~ `20.01.19)</small>
                      </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card">
                    <img src="images/3.jpg" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">제주도 여행 2일차</h5>
                      <p class="card-text">첫 번째 숙소에서 찱칽!</p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">UIT 제주도 여행 (`20.01.16 ~ `20.01.19)</small>
                      </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card">
                    <img src="images/4.jpg" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">캡스톤 경진대회에 나갔어요!</h5>
                      <p class="card-text">무려 은상을 따냈어요! 야호!</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">UIT 캡스톤 경진대회 (`19.10.30)</small>
                      </div>
                  </div>
                </div>
              </div>
        </div>
        <div id="content" class="col">
            앞으로 해야할 리스트
        </div>
    </div>
</section>
<%- include('include/footer') %>

<script>
    $('#info_Header').css("opacity", "0" );
    $('#info_smallHeader').css("opacity", "0" );
    $('#info_content').css("opacity", "0" );
    $(document).ready(function () {
        $('#info_Header').animate({ opacity: "1" }, 350, function(){
            $('#info_smallHeader').animate({ opacity: "1" }, 350, function(){
              $('#info_content').animate({ opacity: "1" }, 350);
            });
        });
    })
</script>