.th_color {
    background: #f2f4fb;
    color: #6c757d;
    border-bottom: 1px solid #d5d5db;
}
.tb_color{
    border-top: 2px solid #6c757d;
    border-right: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
}
.tr_color{
    border-bottom: 1px solid #6c757d;
    border-right: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
}
.row_size{
    width: 100%;
    display: flex;
  }
  .left {
    width: 20%;
    height: 100%;
    float: left;
    box-sizing: border-box;
  }
  .right {
    width: 80%;
    height: 100%;
    float: right;
    box-sizing: border-box;
  }
  .board_container{
    width: 100%;
  }