::-webkit-scrollbar {display:none;} 

@font-face{
  font-family: "Bazzi";
  src: url("./Bazzi.ttf") format("truetype");
  font-style:normal;
  font-weight: normal;
}

section{
  font-family: "Bazzi";
}

.secondSectionHeader {
    font-family: "comic sans MS";
    margin-top: 15vh;
    margin-bottom: 15vh;
}
section{
  margin-top:4.5rem
}
<<<<<<< HEAD
.col-lg-4{
=======
.tab_container{
  margin: 20pxs auto;
>>>>>>> 682e9b602a736ea2dd15f6d98c1a7d4d8e2b79ef
  position:relative;
  padding: 15px;
  min-height: 2px;
}
.container{
  padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
<<<<<<< HEAD


=======
>>>>>>> 682e9b602a736ea2dd15f6d98c1a7d4d8e2b79ef
