::-webkit-scrollbar {display:none;} 

@font-face{
  font-family: "Bazzi";
  src: url("./Bazzi.ttf") format("truetype");
  font-style:normal;
  font-weight: normal;
}

section{
  font-family: "Bazzi";
}

.secondSectionHeader {
    font-family: "comic sans MS";
    margin-top: 15vh;
    margin-bottom: 15vh;
}
section{
  margin-top:4.5rem
}
#font_header{
  font-family: 'Gaegu', cursive;
  font-size: 64;
}
#font_info{
  font-family: 'Gaegu', cursive;
  font-size: 32;
}
.row_sizes{
  width: 100%;
  display: flex;
}
.left {
  width: 20%;
  float: left;
  box-sizing: border-box;
}
.right {
  width: 80%;
  float: right;
  box-sizing: border-box;
}
.board_container{
  width: 100%;
}

/* .tab_container{
  width: "500px";
  margin: 20pxs auto;
}
.tab-title{
  padding-left:-2rem;
}
.tab_title li{
  list-style: none;
  float: left;
  width: 305px;
  padding: 10px,15px;
  cursor: pointer;
  text-align: center;
  border: 1px solid rgb(112, 117, 128);
}
.tab_title li.click{
  background-color: #daebd5;
  font-weight: bold;
}
.tab_content{
  clear: both;
  border: 1px solid rgb(112, 117, 128);
  height: 130px;
  background-color: #ecdcdc;
  }
.tab_content div{
  display: none;
  text-align: center;
}
.tab_content div.click{
  display: block;
} */
