<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel='stylesheet' href='/stylesheets/login.css'/>
<!------ Include the above in your HEAD tag ---------->
<html lang="ko">
  <div class="wrapper fadeInDown">
    <div id="formContent">
        
      <div class="modal-header">
          <!-- Title -->
          <h5 class="modal-title" id="exampleModalLabel"> Sign Up </h5>
  
          <!-- X키 -->
          <button type="button" class="close" onclick="location.href='/'" >
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="/images/UIT_LOGO.png" id="icon" alt="User Icon" />
      </div>
      <!-- Login Form -->
      <form method="POST" onsubmit="return WriteSummit()">
        <input type="text" id="name" class="fadeIn first" name="name" placeholder="이름">
        <input type="text" id="email" class="fadeIn second" name="email" placeholder="이메일">
        <input type="password" id="passwd" class="fadeIn third" name="passwd" placeholder="비밀번호">
        <input type="password" id="pwdchk" class="fadeIn fourth" name="pwdchk" placeholder="비밀번호확인">
        <input type="submit" class="fadeIn fourth" value="회원가입">
      </form>
    </div>
  </div>
</html>
<script>
      function onWriteSubmit(){
        if ( $("#name").val().trim() == "" ){
            var message = "이름을 입력해 주세요";
            $("#name").val("");
            $("#name").focus();
            alert(message);
            return false;
        }
        if ( $("#email").val().trim() == "" ){
            var message = "이메일을 입력해 주세요";
            $("#email").val("");
            $("#email").focus();
            alert(message);
            return false;
        }
        if ( $("#passwd").val().trim() == "" ){
            var message = "패스워드를 입력해 주세요";
            $("#passwd").val("");
            $("#passwd").focus();
            alert(message);
            return false;
        }
        if ( $("#pwdchk").val().trim() != $("passwd").val().trim() ){
            var message = "패스워드를 동일하게 입력해 주세요";
            $("#pwdchk").val("");
            $("#pwdchk").focus();
            alert(message);
            return false;
        }
    }
</script>

