<% include ../include/header %>
<section >
    <div class="secondSectionHeader">
        <h1 id="info_Header" class="text-center">UIT - LAB</h1>
        <h5 id="info_smallHeader" class="text-center">학업 시간표</h5>
    </div>
    <div style="text-align: center;">
        <div id='calendar' style="width:70%;text-align:center;display:inline-block; margin-bottom:5rem"></div>
    </div>
</section>
<div class= "tableB">
    <table class="tableB">
    <tbody>
    <div class="tableA">
        <th>시간</th>
        <th><button type='button' id="modal_btn">월요일</button>
            <div class="black_bg"></div>
            <div class="modal_wrap">
                <div class="modal_close"><a href="#">close</a></div>
                <div>
                    <table border="1" bordercolor="blue" width ="800" height="800" align = "center" >
                        <tr bgcolor="blue" align ="center">
                        <p><td colspan = "5" span style="color:white">월요일 시간표</td></p>
                        </tr>
                        <tr align = "center" bgcolor="skyblue">
                        <td>시간</td>
                        <td>학생명</td>
                        <td>강의명</td>
                        <td>교수명</td>
                        <td>강의실</td>
                        
                        </tr>
                        <tr>
                        <td>9:30~12:20</td>
                        <td>이규환</td>
                        <td>데이터베이스</td>
                        <td></td>
                        <td>제1공 402호</td>
                        </tr>
                        <tr>
                        <td>14:30~17:20</td>
                        <td>송준하</td>
                        <td>Global IT</td>
                        <td></td>
                        <td>제2공 402호</td>
                        </tr>
                        <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        </tr>
                        <tr>
                        <td></td> 
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        </tr>
                        <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>	
                        </tr>
                        <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>	
                        </tr>
                    </table>
                    
                </div>
            <div>
            
            
        </th>
        <th><button type='button' id="modal_btn1">화요일</button>
            <div class="black_bg"></div>
            <div class="modal_wrap">
                <div class="modal_close"><a href="#">close</a></div>
                <div>
                    <table border="1" bordercolor="blue" width ="800" height="800" align = "center" >
                        <tr bgcolor="blue" align ="center">
                        <p><td colspan = "5" span style="color:white">화요일 시간표</td></p>
                        </tr>
                        <tr align = "center" bgcolor="skyblue">
                        <td>시간</td>
                        <td>학생명</td>
                        <td>강의명</td>
                        <td>교수명</td>
                        <td>강의실</td>
                        
                        </tr>
                        <tr>
                            <td>1 9:30~12:20<br>2 13:30~16:20</td>
                            <td>이규환</td>
                            <td>1 자료구조<br>2 사물인터넷</td>
                            <td></td>
                            <td>1 제2공 402호<br>2 제2공 418</td>
                        </tr>
                        <tr>
                            <td>1 9:30~12:20<br> 2 13:30~16:20</td>
                            <td>권순영</td>
                            <td>1 데이터베이스<br>2 사물인터넷</td>
                            <td>1 정원일교수님<br>2 주진현교수님</td>
                            <td>1 1공 402호<br>2 제2공418</td>
                        </tr>
                        <tr>
                            <td>1 10:30~12:20<br> 2 13:30~16:20</td>
                            <td>정승원</td>
                            <td>1 다큐멘터리<br>2 사물인터넷</td>
                            <td></td>
                            <td>1 자연 515호<br>2 제2공418</td>
                        </tr>
                        <tr>
                            <td>1 9:30~12:20<br> 2 13:30~16:20</td>
                            <td>김영재</td>
                            <td>1 데이터베이스<br> 2 사물인터넷</td>
                            <td>1 정원일교수님<br> 2 주진현교수님</td>
                            <td>1 제1공402호<br>2 제2공418</td>
                            </tr>
                        <tr>
                            <td>9:30~12:20</td>
                            <td>홍우성</td>
                            <td>임베디드시스템</td>
                            <td>손석원교수님</td>
                            <td>제2공509호</td>	
                        </tr>
                        <tr>
                            <td>1 9:30~12:20<br>2 14:30~16:20</td>
                            <td>백찬영</td>
                            <td>1 임베디드시스템<br>2 영화와법률</td>
                            <td>1 손석원교수님<br>2 정영훈교수님</td>
                            <td>1 제2공509호<br> 2 조형103호 </td>	
                        </tr>
                    </table>
                    
                </div>
            <div>
        </th>
        <th><button type='button' id="modal_btn2">수요일</button>
            <div class="black_bg"></div>
            <div class="modal_wrap">
                <div class="modal_close"><a href="#">close</a></div>
                <div>
                    <table border="1" bordercolor="blue" width ="800" height="800" align = "center" >
                        <tr bgcolor="blue" align ="center">
                        <p><td colspan = "5" span style="color:white">수요일 시간표</td></p>
                        </tr>
                        <tr align = "center" bgcolor="skyblue">
                        <td>시간</td>
                        <td>학생명</td>
                        <td>강의명</td>
                        <td>교수명</td>
                        <td>강의실</td>
                        
                        </tr>
                        <tr>
                            <td>10:30~13:20</td>
                            <td>이규환</td>
                            <td>세계,한국경제의 미래</td>
                            <td></td>
                            <td>제1공 603-1호</td>
                        </tr>
                        <tr>
                            <td>11:30~13:20</td>
                            <td>송준하</td>
                            <td>영화읽고철학하기</td>
                            <td></td>
                            <td>강석규 109호</td>
                        </tr>
                        <tr>
                            <td>9:30~12:20</td>
                            <td>홍우성</td>
                            <td>컴퓨터네트워크및실습</td>
                            <td>하재철교수님</td>
                            <td>제2공 509호</td>
                        </tr>
                        <tr>
                            <td>1 9:30~12:20<br>2 17:30~19:20</td>
                            <td>백찬영</td>
                            <td>1 컴퓨터네트워크및실습<br>2 게임의 역사</td>
                            <td>1 하재철교수님<br>2 김경식교수님</td>
                            <td>1 제2공 509호<br>2 강석규513호</td>
                        </tr>
                        <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>	
                        </tr>
                        <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>	
                        </tr>
                    </table>
                </div>
            <div>
        </th>
        <th><button type='button' id="modal_btn3">목요일</button>
            <div class="black_bg"></div>
            <div class="modal_wrap">
                <div class="modal_close"><a href="#">close</a></div>
                <div>
                    <table border="1" bordercolor="blue" width ="800" height="800" align = "center" >
                        <tr bgcolor="blue" align ="center">
                        <p><td colspan = "5" span style="color:white">목요일 시간표</td></p>
                        </tr>
                        <tr align = "center" bgcolor="skybule">
                        <td>시간</td>
                        <td>학생명</td>
                        <td>강의명</td>
                        <td>교수명</td>
                        <td>강의실</td>
                        
                        </tr>
                        <tr>
                            <td>1 9:30~12:20<br> 2 13:30~15:20</td>
                            <td>이규환</td>
                            <td>1 종합설계1<br> 2 초급영작문</td>
                            <td></td>
                            <td>1 제2공 502호<br> 2 제1공</td>
                        </tr>
                        <tr>
                            <td> 9:30~12:20</td>
                            <td>권순영</td>
                            <td> 종합설계1</td>
                            <td></td>
                            <td> 제2공 502호</td>
                        </tr>
                        <tr>
                            <td>1 9:30~12:20<br> 2 13:30~16:20</td>
                            <td>정승원</td>
                            <td>1 종합설계1<br>2 벤처기술개론</td>
                            <td></td>
                            <td>1 제2공 502호<br>2 조형 102호</td>
                        </tr>
                            
                        <tr>
                            <td>9:30~12:20</td>
                            <td>송준하</td>
                            <td>종합설계1</td>
                            <td></td>
                            <td>제2공 402호</td>
                        </tr>
                        <tr>
                            <td> 9:30~12:20</td>
                            <td>김영재</td>
                            <td> 종합설계1</td>
                            <td></td>
                            <td> 제2공 502호</td>
                        </tr>
                        <tr>
                            <td>1 9:30~11:20<br> 2 11:30~13:20<br> 3 17:30~17:20</td>
                            <td>홍우성</td>
                            <td>1 전공영어<br> 2스포츠매니저먼트<br> 3 공감과 소통</td>
                            <td>1 서미란교수님<br>2<br>3  </td>
                            <td>1 제2공302호<br> 2 제1공452호<br>3 제1공 501호</td>	
                        </tr>
                        <tr>
                            <td>12:30~14:20</td>
                            <td>백찬영</td>
                            <td>전공영어</td>
                            <td>서미란교수님</td>
                            <td>제2공302호</td>	
                        </tr>
                    </table>
                </div>
            <div>
        </th>
        <th><button type='button' id="modal_btn4">금요일</button>
            <div class="black_bg"></div>
            <div class="modal_wrap">
                <div class="modal_close"><a href="#">close</a></div>
                <div>
                    <table border="1" bordercolor="blue" width ="800" height="800" align = "center" >
                        <tr bgcolor="blue" align ="center">
                        <p><td colspan = "5" span style="color:white">금요일 시간표</td></p>
                        </tr>
                        <tr align = "center" bgcolor="skyblue">
                        <td>시간</td>
                        <td>학생명</td>
                        <td>강의명</td>
                        <td>교수명</td>
                        <td>강의실</td>
                        
                        </tr>
                       
                        <tr>
                            <td>1 9:30~12:20<br>2 13:30~16:20</td>
                            <td>권순영</td>
                            <td>1 안드로이드<br>2 벤처마케팅 </td>
                            <td>1 주진현교수님</td>
                            <td>1 제2공 402호2 <br>조형 102호</td>
                        </tr>
                        <tr>
                            <td>11:30~13:20</td>
                            <td>정승원</td>
                            <td>벤처경영원리</td>
                            <td></td>
                            <td>제1공 502호</td>
                        </tr>
                        <tr>
                            <td>1 9:30~12:20<br>2 13:30~16:20</td>
                            <td>홍우성</td>
                            <td>1 안드로이드<br>2 웹프로그래밍 </td>
                            <td>1 주진현교수님<br>2 방진숙교수님</td>
                            <td>1 제2공 402호 <br>2 제1공 402호</td>
                        </tr>
                        <tr>
                            <td>1 9:30~12:20<br>2 13:30~16:20</td>
                            <td>백찬영</td>
                            <td>1 안드로이드<br>2 웹프로그래밍 </td>
                            <td>1 주진현교수님 2 방진숙교수님</td>
                            <td>1 제2공 402호 <br>2 제1공 402호</td>
                        </tr>
                        <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>	
                        </tr>
                    </table>
                </div>
            <div>
        </th>
    </div>       
    </div>
        <tr>
            <td>
                <div class ="times">
                <div class="time">08:30~09:20</div>
                <div class="time">09:30~10:20</div>
                <div class="time">10:30~11:20</div>
                <div class="time">11:30~12:20</div>
                <div class="time">12:30~13:20</div>
                <div class="time">13:30~14:20</div>
                <div class="time">14:30~15:20</div>
                <div class="time">15:30~16:20</div>
                <div class="time">16:30~17:20</div>
                <div class="time">17:30~18:20</div>
                <div class="time">18:30~19:20</div>
            </div>
            </td>
            <td>
                <div class = "persons">
                    <div class= "person"></div>
                    <div class= "skyblue person">이규환</div>
                    <div class= "skyblue person">이규환</div>
                    <div class= "skyblue person">이규환</div>
                    <div class= "person"></div>
                    <div class= "person"></div>
                    <div class= "skyblue person">송준하</div>
                    <div class= "skyblue person">송준하</div>
                    <div class= "skyblue person">송준하</div>
                    <div class= "person"></div>
                    <div class= "person"></div>
                </div>
            </td>
            <td>
                <div class = "persons">
                    <div class= "person"></div>
                    <div class= "skyblue person">이규환<br>권순영<br>김영재<br>홍우성<br>백찬영</div>
                    <div class= "skyblue person">이규환 권순영<br> 정승원<br>김영재<br>홍우성<br> 백찬영</div>
                    <div class= "skyblue person">이규환 권순영<br> 정승원<br>김영재<br>홍우성<br>백찬영</div>
                    <div class= "person"></div>
                    <div class= "skyblue person">이규환<br>권순영<br>정승원<br>김영재</div>
                    <div class= "skyblue person">이규환<br>권순영<br>정승원<br>김영재<br>백찬영</div>
                    <div class= "skyblue person">이규환<br>권순영<br>정승원<br>김영재<br>백찬영</div>
                    <div class= "person"></div>
                    <div class= "person"></div>
                    <div class= "person"></div>
                </div>
            </td>
            <td>
                <div class = "persons">
                    <div class= "person"></div>
                    <div class= "skyblue person">홍우성</div>
                    <div class= "skyblue person">이규환<br>홍우성<br>백찬영</div>
                    <div class= "skyblue person">이규환<br>송준하<br>홍우성<br>백찬영</div>
                    <div class= "skyblue person">이규환<br>송준하<br>백찬영</div>
                    <div class= "person"></div>
                    <div class= "person"></div>
                    <div class= "person"></div>
                    <div class= "person"></div>
                    <div class= "skyblue person">정승원<br>백찬영</div>
                    <div class= "skyblue person">백찬영</div>
                </div>
            </td>
            <td>
                <div class = "persons">
                    <div class= "person"></div>
                    <div class= "skyblue person">이규환 권순영<br>정승원<br>송준하<br>김영재<br>홍우성</div>
                    <div class= "skyblue person">이규환 권순영<br>정승원<br>송준하<br>김영재<br>홍우성</div>
                    <div class= "skyblue person">이규환 권순영<br>정승원<br>송준하<br>김영재<br>홍우성</div>
                    <div class= "skyblue person">홍우성<br>백찬영</div>
                    <div class= "skyblue person">이규환<br>백찬영<br>정승원</div>
                    <div class= "skyblue person">이규환<br>정승원</div>
                    <div class= "skyblue person">정승원</div>
                    <div class= "skyblue person">홍우성</div>
                    <div class= "skyblue person">홍우성</div>
                    <div class= "person"></div>
                </div>
            </td>
            </td>
            <td>
                <div class = "persons">
                    <div class= "person"></div>
                    <div class= "skyblue person">권순영<br>백찬영<br>홍우성</div>
                    <div class= "skyblue person">권순영<br>백찬영<br>홍우성</div>
                    <div class= "skyblue person">권순영<br>백찬영<br>홍우성<br>정승원</div>
                    <div class= "skyblue person">정승원</div>
                    <div class= "skyblue person">권순영<br>백찬영<br>홍우성</div>
                    <div class= "skyblue person">권순영<br>백찬영<br>홍우성</div>
                    <div class= "skyblue person">권순영<br>백찬영<br>홍우성</div>
                    <div class= "person"></div>
                    <div class= "person"></div>
                    <div class= "person"></div>
                </div>
            </td>
        </tr>   
    </tbody>
</table>
</div>
<script>
    window.onload = function() {
        document.getElementById('modal_btn').addEventListener('click', onClick);
        document.getElementById('modal_btn1').addEventListener('click', onClick);
        document.getElementById('modal_btn2').addEventListener('click', onClick);
        document.getElementById('modal_btn3').addEventListener('click', onClick);
        document.getElementById('modal_btn4').addEventListener('click', onClick);
        document.querySelector('.modal_close').addEventListener('click', offClick);
        function onClick() {
            document.querySelector('.modal_wrap').style.display ='block';
            document.querySelector('.black_bg').style.display ='block';
        }   
        function offClick() {
            document.querySelector('.modal_wrap').style.display ='none';
            document.querySelector('.black_bg').style.display ='none';
        }
    

    };
</script>